{% extends 'base.html' %}
{% load static %}
{% block title %}Contratos{% endblock %}
{% block content %}
    <div class="wrapper" id="content_contracts">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Panel de contratos</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <h5 class="mb-2">Tipos de contratos</h5>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Contratos Fijo</span>
                                    <span class="info-box-number">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Contratos Ocasionales</span>
                                    <span class="info-box-number">410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Uploads</span>
                                    <span class="info-box-number">13,648</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Likes</span>
                                    <span class="info-box-number">93,139</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Esta es tu lista de contratos</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" id="card-body">
                                    <table id="contracts-table" class="table table-bordered table-striped">
                                        <button type="button" class="btn btn-primary float-right btnCreateContract">
                                            <i class="fa fa-plus mr-2"></i> Crear Nuevo Contrato
                                        </button>
                                        <thead>
                                        <tr>
                                            <th>Numero de contrato</th>
                                            <th>Fecha de firma</th>
                                            <th>Fecha de Terminacion</th>
                                            <th>Origen</th>
                                            <th>Destino</th>
                                            <th>Contratante</th>
                                            <th>Contratista</th>
                                            <th>Tipo de Contrato</th>
                                            <th>Acciones</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% load static %}
                                        {% for contract in contracts %}
                                            <tr>
                                                <td id="{{ contract.number_contract }}"
                                                    class="contract-number">{{ contract.number_contract }}</td>
                                                <td>{{ contract.start_date|date:"SHORT_DATE_FORMAT" }}</td>
                                                <td>{{ contract.end_date|date:"SHORT_DATE_FORMAT" }}</td>
                                                <td>{{ contract.departure }}</td>
                                                <td>{{ contract.arrival }}</td>
                                                <td>{{ contract.contractor_by.name_entity }}</td>
                                                <td>{{ contract.contractor_for.name_entity }}</td>
                                                <td>{% if contract.type_contract == 'FIJO' %}
                                                    <span class="text-red">{{ contract.type_contract }}</span>
                                                {% else %}
                                                    <span class="text-green">{{ contract.type_contract }}</span>
                                                {% endif %} </td>
                                                <td>

                                                    <a href="{% url 'contracts:detail_contract' contract.id %}"
                                                       class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                                    <a href="{% url 'contracts:update_contract' contract.id %}"
                                                       class="btn btn-info btn-xs">
                                                        <i class="fa fa-pen"></i>
                                                    </a>
                                                    <a href="{% url 'contract:delete_contract' contract.id %}"
                                                       class="btn btn-danger btn-xs"><i
                                                            class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->

            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="exampleModalLongTitle">Nuevo Contrato</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="form-create-contract">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-3">
                                                <label for="inputName">Numero de contrato</label>
                                                {{ form.number_contract }}
                                            </div>
                                            <div class="form-group col-3">
                                                <label for="inputStatus">Tipo de Contrato</label>
                                                {{ form.type_contract }}
                                            </div>
                                            <div class="form-group col-3">
                                                <label for="inputStatus">Contratista</label>
                                                {{ form.contractor_by }}
                                            </div>
                                            <div class="form-group col-3">
                                                <label for="inputStatus">Contratante</label>
                                                {{ form.contractor_for }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="inputClientCompany">Origen</label>
                                                {{ form.departure }}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="inputProjectLeader">Destino</label>
                                                {{ form.arrival }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="inputClientCompany">Fecha de inicio</label>
                                                {{ form.start_date }}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="inputProjectLeader">Fecha Final</label>
                                                {{ form.end_date }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <input type="submit" value="Crear Contrato"
                                                       class="btn btn-primary float-right">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#contracts-table").DataTable({
                responsive: true,
                autoWidth: true
            });


        });
        $('.btnCreateContract').on('click', function () {
            $('#exampleModalCenter').modal('show');
        });
        $('.btnEditContract').on('click', function () {
            $('#exampleModalCenter').modal('show');
        });
        $('#form-create-contract').on('submit', function (e) {

            e.preventDefault();

            var serializedData = $(this).serialize();
            $.ajax({
                url: "{% url 'contracts:index' %}",
                type: 'POST',
                data: serializedData,
                success: function () {
                    $('#exampleModalCenter').modal('hide');
                    location.reload();
                }
            })
        })
    </script>


{% endblock %}
