{% extends 'base.html' %}
{% load static %}
{% block title %}Empleados{% endblock %}
{% block content %}
    <div class="wrapper" id="content_contracts">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Panel de Empleados</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <h5 class="mb-2">Estados de los Empleados</h5>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Buses con novedad</span>
                                    <span class="info-box-number">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Buses Disponibles</span>
                                    <span class="info-box-number">410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Buses Sin conductores</span>
                                    <span class="info-box-number">13,648</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Otros Buses</span>
                                    <span class="info-box-number">93,139</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Esta es tu lista de empleados</h3>
                                </div>
                                <!-- /.card-header -->

                                <div class="card-body" id="card-body">
                                    <table id="contracts-table" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            {#                                            <th>Numero de contrato</th>#}
                                            <th>id del empleado</th>
                                            <th>Nombre</th>
                                            <th>Código</th>
                                            <th>N° de identificación</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% load static %}
                                        {% for empleado in empleados %}
                                            <tr>
                                                {#                                                <td>{{ contracts.number_contract }}</td>#}
                                                <td>{{ empleado.id_empleado }}</td>
                                                <td>{{ empleado.nombre }}</td>
                                                <td>{{ empleado.codigo }}</td>
                                                <td>{{ empleado.nro_identificacion }}</td>
{#                                                <td>#}
{#                                                    <a href="{% url 'contracts:detail_contract' contract.id %}"#}
{#                                                       class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>#}
{#                                                    <a href="{% url 'contracts:detail_contract' contract.id %}"#}
{#                                                       class="btn btn-info btn-xs"><i class="fa fa-pen"></i></a>#}
{#                                                    <a href="#" class="btn btn-danger btn-xs"><i#}
{#                                                            class="fa fa-trash"></i></a>#}
{#                                                </td>#}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->

            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>

    </div>
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#contracts-table").DataTable({
                responsive: true,
                autoWidth: true
            })

        });
    </script>


{% endblock %}
