{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Novedades{% endblock %}
{% block content %}
    <div class="wrapper" id="content_contracts">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <h5 class="mb-2">Novedades</h5>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Novedades</span>
                                    <span class="info-box-number">{{ novelties|length }}</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Esta es tu lista de Novedades</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" id="card-table-contracts-fixed">
                                    <table id="contracts-table" class="table table-bordered table-striped">
                                        <a href="{% url 'administremos:create_novelty' %}"
                                           class="btn btn-primary float-right "> <i class="fa fa-plus mr-2"></i> Crear
                                            Nueva novedad</a>
                                        <thead>
                                        <tr>
                                            <th>Bus</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th>Hora Inicio</th>
                                            <th>Hora Fin</th>
                                            <th>Descripcion</th>
                                            <th>Fecha Creacion</th>
                                            <th>Creado Por</th>
                                            <th>Acciones</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% load static %}
                                        {% for novelty in novelties %}
                                            <tr>
                                                <td>{{ novelty.bus }}</td>
                                                <td>{{ novelty.start_date|date:"SHORT_DATE_FORMAT" }}</td>
                                                <td>{{ novelty.end_date|date:"SHORT_DATE_FORMAT" }}</td>
                                                <td>{{ novelty.start_hour }}</td>
                                                <td>{{ novelty.end_hour }}</td>
                                                <td>{{ novelty.description }}</td>
                                                <td>{{ novelty.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                                                <td>{{ novelty.created_by.first_name }} {{ novelty.created_by.last_name }}</td>
                                                <td>
                                                    <a href="#"
                                                       class="btn btn-info btn-xs disabled">
                                                        <i class="fa fa-pen"></i>
                                                    </a>
                                                    <a href="#"
                                                       class="btn btn-danger btn-xs disabled"><i
                                                            class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->

            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="modal fade" id="modal-delete-contract-fixed" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content ">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title text-center" id="exampleModalLongTitle">¿Seguro que quieres
                                        eliminar esta novedad?</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="form-delete-contract-fixed">
                                        {% csrf_token %}
                                        <input type="hidden" value="" id="id-contract-fixed-delete"
                                               name="id-contract-fixed">
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <a href="#"
                                                   class="btn btn-secondary" id="btn-close"><i class="fa fa-stop"></i>
                                                    Cancelar</a>
                                            </div>
                                            <div class="col-6 text-center">
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fa fa-eraser"></i>
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#contracts-table').dataTable({
                "order": [[7, "desc"]]
            });
        })
    </script>

{% endblock %}
